{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FxTrain</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
  </head>
<body style="">
	<div class="wrapper fluid" style="">
		<main role = "main" class="container" id="mainSiteContainer" style="background-color: #FDFDFD; border-left: 10px; border-right: 10px; border-style: solid; border-color: #BCBCBC;">
      
      <div class="row" style=" border-style: solid; border-top: 0px; border-left: 0px; border-right: 0px; border-width: 2px; border-radius: 5px; margin: 1px; margin-bottom: 5px;">
          <nav class="navbar navbar-expand-lg navbar-light" style="width: 100%">
            <a class="navbar-brand" href="/" >
              <img src="{% static 'comingSoon/images/FxTrainLogoTransp.svg' %}" width="120" height="100" alt=""/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 10px;">
              <p style="font-size: 40px; font-family: Times; margin-left: 9vw;">Thank you for your support!</p>
            </div>
          </nav>
      </div> 


      <div class="container" style="background-image: url({% static 'comingSoon/images/background-green-wRail.jpg' %}); text-align: center; margin-bottom: 20px; background-size: 100%;" >
        <div class="row">
          <p style="margin: auto; font-size: 24px; margin-top: 20px; color: black; ">We are glad you are here!, we want everyone to improve their trading.</p>
          <p style="margin: auto; font-size: 24px; color: black; margin-left: 15px; margin-right: 15px; text-align: center;"> The gap between retail traders and institutional traders is getting ever smaller, and we want to help you crush the market!</p>
          <p style="margin: auto; font-size: 24px; color: black; margin-left: 15px; margin-right: 15px; text-align: center;"> Remember, learn by doing, practice until you feel ready to go against the real thing. And remember
          we are allways here to help.</p>
          <p style="margin: auto; font-size: 24px; color: black; margin-left: 15px; margin-right: 15px; text-align: center;">If you are bored, frustrated, or just don't have your head in the game, come here, train all you want, and do not loose that hard-earned money in a market that just wont go your way.</p>
        </div>
        
        <div class="row" style="">
          <form action="" method="POST" style="margin: auto; margin-bottom: 15px; margin-top: 25px;">
            <div class="form-group" >
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Subscribe" class="form-control" id="subscribeButton">
            </div>
          </form>
        </div>
        <img src="{% static 'comingSoon/images/rails.png' %}" width="120" height="100" alt=""/>


      </div>

        <div class="row">
          <p style="margin: auto; font-size: 24px; margin-top: 10px; margin-bottom: 20px; text-align: center;">We are working hard to bring you this new way of learning to you as fast as possible, please SUBSCRIBE so we can send you news as soon as we get a product you can enjoy.</p>
        </div>




    <div class="row">
      <div class="col-3" style="font-size: 19px; margin-left: 1px;">
        <p>We want to bring you the biggest database of scenarios so you can train for hours if you so wish.</p>
        <p>We are building a tool so users can create their own scenarios easily... and if your scenario is used by other people, you get that <a href="#" style="color: gold; background-color: #333333; padding-right: 10px; padding-left: 3px; font-size: 28px;">GOLD</a></p>
      </div>
      <div class="col-6">
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/Rk3PtBJBSsU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin: auto;"></iframe>
      </div>
      <div class="col-3" style="margin-right: -2px; font-size: 19px;">
        <p>Trading is not easy, there are soo many rules and slipping one can cost your whole account.</p>
        <p>We will give you tips and feedback in our scenarios, so you can remember what matters in every situation.</p>
        <a href="#"><img src="{% static 'comingSoon/images/brain-cartoon.png' %}" alt="" height="80" style="margin-left: 33%;"></a>
      </div>
    </div>

    <div class="row" style="">
      <p style="text-align: center; margin: auto; font-size: 24px; margin-bottom: 20px; margin-top: 20px; border: 0px; border-top: 1px; width: 100%; border-style: solid;">For now, please enjoy a free daily puzzle!</p>
    </div>

    <div class="row">
      <div class="col-8" style="background-color: #FDFDFD; opacity: .9; margin: 0;">
            <a href="" style="color: #333333; font-size: 24px; ">Free taining of the day:</a> 
            <button class="btn btn-outline-success" type="submit" style="border-radius: 5px; border-color: black; margin-left: 00px; width: 80px; margin-bottom: 2px;" id="IndexBuyButton" onclick="clickedToolBuyButton()">Buy</button>
            <button class="btn btn-outline-danger" type="submit" style="border-radius: 5px; border-color: black; width: 80px; margin-bottom: 2px;" id="IndexShortButton" onclick="clickedToolSellButton()">Short</button>
            <button class="btn btn-outline-Secondary" type="submit" style="border-radius: 5px; border-color: black; margin-left: 0px; width: 80px; margin-bottom: 2px;" id="IndexSellButton" onclick="">Sell</button>
            <button class="btn btn-outline-Secondary" type="submit" style="border-radius: 5px; border-color: black; width: 80px; margin-bottom: 2px;" id="IndexCoverButton" onclick="">Cover</button>           
            <button class="btn btn-outline-primary" type="submit" style="border-radius: 5px; border-color: black; width: 95px; margin-bottom: 2px;" id="IndexWaitButton" onclick="clickedToolWaitButton()">Wait-Hold</button>
            <div id="IndexChartToolDiv" style="height: 400px; margin-right: 0px; margin-top: 20px;"></div>
            <p id="IndexBalance" style="text-align: center; font-size: 10px;"> Your balance is : 0 pips</p>
      </div>
      <div class="col" id="TrainingText" style="font-size: 15px; color: #333333; background-color: #FDFDFD; opacity: 1; margin-top: 60px;">
            <h4>GBPUSD, Brexit news</h4>
            <h5>Hour4 timeframe</h5>
            <p>The british prime minister anounced talks to postpone brexit.</p>

      </div>
    </div>



    <div class="row" style="margin-top: 40px;">
      <img src="{% static 'comingSoon/images/mantainancePng.png' %}" height="100" alt="" style="margin: auto;" />
    </div>


    <footer class="footer" style="">
      <div class="container">
        <div class="col">
          <p style="font-size: 22px; text-align: center;">If you have any doubts, suggestions, comments or kind words please send them to: <a href="">fxtraincomingsoon@protonmail.com</a> </p>
        </div>
      </div>
    </footer>




		</main>
	</div>  <!-- fluid wrapper-->


			    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	    <script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js" type="text/javascript"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

      		<!-- Font Awesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
      <!-- Bootstrap core CSS -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">



	</body>
</html>



<script>

var minimumHeight = window.matchMedia("(max-height: 580px)")
var minimumWidth = window.matchMedia("(max-width: 992px)")

function hideLargeWebsiteContent(minimumHeight, minimumWidth) {
  if (minimumHeight.matches) { // If media query matches
    document.getElementById("mainSiteContainer").style.display = "none";
  }else{
  	document.getElementById("mainSiteContainer").style.display = "block";	
  }

  if (minimumWidth.matches) { // If media query matches
    document.getElementById("mainSiteContainer").style.display = "none";
  }else{
  	document.getElementById("mainSiteContainer").style.display = "block";	
  }
}
var minimumHeightSite = window.matchMedia("(max-height: 580px)");
var minimumWidthSite = window.matchMedia("(max-width: 992px)");
minimumHeightSite.addListener(hideLargeWebsiteContent); // Attach listener function on state changes
minimumWidthSite.addListener(hideLargeWebsiteContent); // Attach listener function on state changes

function hideLargeWebMobileContent(minimumHeight, minimumWidth) {
  if (minimumHeight.matches) { // If media query matches
    document.getElementById("mainMobileContainer").style.display = "block";
  }else{
  	document.getElementById("mainMobileContainer").style.display = "none";	
  }

  if (minimumWidth.matches) { // If media query matches
    document.getElementById("mainMobileContainer").style.display = "block";
  }else{
  	document.getElementById("mainMobileContainer").style.display = "none";	
  }
}

var minimumHeightMobile = window.matchMedia("(max-height: 580px)")
var minimumWidthMobile = window.matchMedia("(max-width: 992px)")
minimumHeightMobile.addListener(hideLargeWebMobileContent) // Attach listener function on state changes
minimumWidthMobile.addListener(hideLargeWebMobileContent) // Attach listener function on state changes



///////////////

var fullCloseArray = [{% for currency in all_currencies %} '{{ currency.Close }}' {% if not forloop.last %}, {% endif %} {% endfor %} ]
var fullHighArray = [{% for currency in all_currencies %} '{{ currency.High }}' {% if not forloop.last %}, {% endif %} {% endfor %} ]
var fullLowArray = [{% for currency in all_currencies %} '{{ currency.Low }}' {% if not forloop.last %}, {% endif %} {% endfor %} ]
var fullOpenArray = [{% for currency in all_currencies %} '{{ currency.Open }}' {% if not forloop.last %}, {% endif %} {% endfor %} ]
var fullMovingAverage = [{% for currency in all_currencies %} '{{ currency.MovingAverage }}' {% if not forloop.last %}, {% endif %} {% endfor %} ]

var startCandleCount = 0;
var currentCandleCount = startCandleCount + 40;
var maxCandleCount = currentCandleCount + 20;

var closeArray = fullCloseArray.slice(startCandleCount,currentCandleCount);
var highArray = fullHighArray.slice(startCandleCount,currentCandleCount);
var lowArray = fullLowArray.slice(startCandleCount,currentCandleCount);
var openArray = fullOpenArray.slice(startCandleCount,currentCandleCount);
var MovingAverage = fullMovingAverage.slice(startCandleCount,currentCandleCount);

var annotationValX = currentCandleCount;
var annotationValY = highArray[highArray.length-2];
  
function buildPlotly(){
  //JAVASCRIPT CHART. 
  var trace1 = {
    
    x: [0]*currentCandleCount, 
    
    close: closeArray, 
    
    decreasing: {line: {color: '#7F7F7F'}}, 
    
    high: highArray, 
    
    increasing: {line: {color: '#17BECF'}}, 
    
    line: {color: 'rgba(31,119,180,1)'}, 
    
    low: lowArray, 
    
    open: openArray, 
    
    type: 'candlestick', 
    xaxis: 'x', 
    yaxis: 'y',
    hoverinfo: "none",
    increasing: {line: {color: 'green'}},
      decreasing: {line: {color: 'red'}},
  };

  trace2 = {
    line: {width: 1}, 
    mode: 'lines', 
    name: 'Moving Average', 
    type: 'scatter', 
    x: [0]*currentCandleCount,
    y: MovingAverage, 
    yaxis: 'y',
    marker: {color: '#E377C2'},
    hoverinfo: "none",
  };

  var plotlyData = [trace1,trace2];

  var layout = {
    dragmode: 'zoom', 
    margin: {
      r: 10, 
      t: 25, 
      b: 40, 
      l: 60
    }, 
    showlegend: false, 
    xaxis: {
      autorange: true, 
      domain: [0, 1], 
      type: 'category',
      rangeslider: {
       visible: false
     }
    }, 
    dragmode: "pan",
    yaxis: {
      type: 'linear',
      autorange: true
    },
    title: "Currency",

    annotations: [
      {
        x: annotationValX-1,
        y: annotationValY,
        text: "News announced",
        ax: -28,
        ay: -70,
      }
    ]


  };

  var config = {
    'scrollZoom': true,
  };

  Plotly.plot('IndexChartToolDiv', plotlyData, layout, config = config);

}

buildPlotly();

function getSpread(Symbol){ //REVISA ESTO BIEN y hazlo
  if(Symbol == "USDCHF"){
    spread = 0.00020
  } else if (Symbol == "GBPUSD") {
    spread = .00020
  }

  return spread;
}


var balance = 0;
var lots = 0; //WILL LEAVE THIS UNTIL AFTER THE MVP
function clickedToolBuyButton(){
  var prevPrice = closeArray[closeArray.length -1];

  if (currentCandleCount <= maxCandleCount){
    currentCandleCount += 1;

    closeArray = fullCloseArray.slice(startCandleCount,currentCandleCount);
    highArray = fullHighArray.slice(startCandleCount,currentCandleCount);
    lowArray = fullLowArray.slice(startCandleCount,currentCandleCount);
    openArray = fullOpenArray.slice(startCandleCount,currentCandleCount);
    MovingAverage = fullMovingAverage.slice(startCandleCount,currentCandleCount);

    buildPlotly();

    var newPrice = closeArray[closeArray.length-1];

    balance += newPrice - prevPrice - getSpread("GBPUSD");

    document.getElementById("IndexBalance").innerHTML = "Your balance is: " + balance.toFixed(5) + " pips";
  } else{
    document.getElementById("IndexBalance").innerHTML = "Your final balance was: " + balance.toFixed(5) + " pips";
  }

  //document.getElementById("MyElement").className = "MyClass"; To change Sell Button color



}

function clickedToolSellButton(){
  var prevPrice = closeArray[closeArray.length -1];

  if (currentCandleCount <= maxCandleCount){
    currentCandleCount += 1;

    closeArray = fullCloseArray.slice(startCandleCount,currentCandleCount);
    highArray = fullHighArray.slice(startCandleCount,currentCandleCount);
    lowArray = fullLowArray.slice(startCandleCount,currentCandleCount);
    openArray = fullOpenArray.slice(startCandleCount,currentCandleCount);
    MovingAverage = fullMovingAverage.slice(startCandleCount,currentCandleCount);

    buildPlotly();

    var newPrice = closeArray[closeArray.length-1];

    balance += prevPrice - newPrice - getSpread("GBPUSD");

    document.getElementById("IndexBalance").innerHTML = "Your balance is: " + balance.toFixed(5) + " pips";
  } else{
    document.getElementById("IndexBalance").innerHTML = "Your final balance was: " + balance.toFixed(5) + " pips";
  }
}

function clickedToolWaitButton(){
  currentCandleCount += 1

  closeArray = fullCloseArray.slice(startCandleCount,currentCandleCount);
  highArray = fullHighArray.slice(startCandleCount,currentCandleCount);
  lowArray = fullLowArray.slice(startCandleCount,currentCandleCount);
  openArray = fullOpenArray.slice(startCandleCount,currentCandleCount);
  MovingAverage = fullMovingAverage.slice(startCandleCount,currentCandleCount);

  buildPlotly();
}


</script>

<style>
	body{
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;

font-family: "Times";

}

.footer {
    bottom: 0;
    background-color: #f5f5f5;
}

</style>